@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --foreground-rgb: 0, 0, 0;
   --background-start-rgb: 214, 219, 220;
   --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
   :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
   }
}

body {
   position: relative;
   margin: 0;
   min-height: 100lvh;
   color: rgb(var(--foreground-rgb));
   @apply h-full min-h-screen bg-emerald-500 font-medium;
}

h1 {
   @apply text-3xl font-medium text-dim;
}

h2 {
   @apply text-2xl font-medium text-dim;
}

h3 {
   @apply text-xl font-medium text-dim;
}

h4 {
   @apply text-lg font-medium text-dim;
}

h5 {
   @apply text-base font-medium text-dim;
}

button {
   @apply mt-4 py-2 px-6 font-medium tracking-wide rounded-md w-full sm:w-auto;
}

input,
button {
   @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-dark;
}

a {
   @apply hover:underline hover:underline-offset-9 transition duration-300;
}

@media screen and (min-width: 576px) {
   body::before {
      background-image: url("../public/background.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.4;
      z-index: -10;
   }
}
